.titre4 {
    text-align: center;
    margin-top: 2%;
    font-family: "Agency FB";
    font-size: 40px;
}

.photAc{
    height: 90%;
}

.logo_voiture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    height: 10%;
    width: 10%;
}

.voiture_accueil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    height: 30%;
    width: 30%;
}

.logo_voiture_bmw{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 7%;
    width: 7%;
}

.voiture_accueil_bmw{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25%;
    width: 25%;
}

.logo_voiture_tesla{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    height: 10%;
    width: 10%;
}

.voiture_accueil_tesla{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
    height: 30%;
    width: 30%;
}

.logo_voiture_lambo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    width: 10%;
}

.voiture_accueil_lambo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%;
}
.ok{
    margin-top: 10px;
    text-align: center;
    font-family: "Roboto";
}
.botono {
    text-align : center;
}

.navor {
    height: 7%;
}

 body{
     background-color: #BEB7B7;

 }

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}


.un {
    grid-column: 2;
    grid-row: 3;
}
.deux {
    grid-column: 3;
    grid-row: 3;
}
.trois {
    grid-column: 2;
    grid-row: 4;
}
.quatre {
    grid-column: 3;
    grid-row: 4;
}
.six {
    grid-column: 1;
    grid-row: 2 / 5;
}
.centro {
    margin-top: 150px;
    margin-bottom: 40px;
 text-align: center;

}
